<h1>Destinations#show</h1>
<p>Find me in app/views/destinations/show.html.erb</p>

<h1><%= @destination.name %></h1>
<h3><%= @destination.country %></h3>
<h4><%= @destination.average_age %></h4>

<p>Most recent: </p>
<%= @most_recent.each do |post|%>
    <%= link_to post.title, post_path(post.id) %>
<% end %> 
